@charset "utf-8";
/*
================================================================================
Globala regler (eller vad avdelningen kallas)
================================================================================
*/
/* Lägg på lite marginal om skärmen är väldigt smal dvs. nära 860 pixlar      */
html {
    margin: 2%;
}
body {
    margin: auto;            /* Centrera sidan                                */
    max-width: 860px;        /*                                               */
	/* Ändrad rad - radbruten av utrymmesskäl                                 */
	font-family: "Helvetica Neue",
	             "Liberation Sans", Calibri, Arial, sans-serif;
	font-size: 100%;         /* Startvärde                                    */
}

h1 {
	font-family: "Merienda One", cursive;
}

h1::first-letter {
	color: #00AF64;
}
/*
================================================================================
Återanvändningsbara klasser att använda "lite här och där"
================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */

/*
================================================================================
Regler för sidhuvudet
================================================================================
*/
header {
    text-align: center;
}
/*
================================================================================
Regler för sidfoten
================================================================================
*/
footer {
	margin-top: 3em;
	text-align: center;
	color: #999;
}

/*
================================================================================
Huvudsajt - navigering
================================================================================
*/

/* Alla regler för .menu med relaterade element */
/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */
.menu > li,
.menu > h2 {
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5; /* Mycket ljusgrå                              */
	text-align: center;
	/* Nya rader i befintlig regel                                            */
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;
	font-family: "Merienda One", cursive;	
}

.menu a:link,
.menu a:visited {
	text-decoration: none;
	color: #000;
}

.menu a:focus,
.menu a:hover {
	text-decoration: underline;
	color: #A62F00;
}

.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}

.menu {
	margin: 1em 0;
	padding: 0;
}

.startpage > section > h2, 
.menu li {
	margin 0 0 1rem;
	list-style: none;
}
/*
================================================================================
Regler för startsidan
================================================================================
*/

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8                    */
/* Startsidan ska använda flex för sin layout                                 */
.startpage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* Vi ser till att <header> och <footer> alltid fyller sidans bredd           */
.startpage header,
.startpage footer {
	flex: 0 0 100%;
}
/* Därefter låter vi våra fyra <section> lägga sig på rad efter varandra      */
.startpage section {
	flex: 0 0 22%;
}

.startpage h1 {
	font-size: 500%; /* Massiv rubrik på startsidan                           */
}

.startpage .logo { /* Måste felanmäla till it-pastorn .Logo går icke */
		width: 235px;
		height: 198px;
}

.tagline {
	font-size: 120%;
	padding: 0.5em;
	border-top: 3px double #00AF64;
	border-bottom: 3px double #00AF64;
	margin 1em 0;
}

.hwrap {
	display: flex;           /* Gör divven till en flex container             */
	flex-wrap: wrap;         /* Radbryt om det behövs                         */
	align-items: center;     /* Lägg elementen centrerat vertikalt            */
	justify-content: center; /* Och intill varandra centrerat                 */
}
/*
================================================================================
Andra regler för undersidor
================================================================================
*/

.subpage .logo { /* Måste felmeddela IT-pastorn,  han skrev .Logoi och det gack icke */
	width: 146px;
	height: 123px;
}

.subpage h1 {
	font-size: 2.6rem;
}

h1 > span {
	color: #a62f00;
}

/* Logotype ska vara längs till vänster och rubrik längst till höger          */
.subpage .hwrap {
	justify-content: space-between;
}

/* Undersidans navigeringsfält                                                */
.subpage .hwrap > a,
nav {
	flex: 0 1 20%;
	min-width: 146px;
	margin-right: 10px;
	outline: 1px solid; /* Temporär för att se layouten när vi kodar */
}
/*
================================================================================
Regler för tabeller
================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
================================================================================
Regler för bildspel
================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
================================================================================
Regler för formulär (Kontakt sidan)
================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
================================================================================
Regler för bloggsidan, show and edit
================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
================================================================================
Regler för adaptiv design
================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 30px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

