@charset "utf-8";
/*
================================================================================
Globala regler (eller vad avdelningen kallas)
================================================================================
*/
/* Lägg på lite marginal om skärmen är väldigt smal dvs. nära 860 pixlar      */
html {
    margin: 2%;
}
body {
    margin: auto;            /* Centrera sidan                                */
    max-width: 860px;        /*                                               */
	/* Ändrad rad - radbruten av utrymmesskäl                                 */
	font-family: "Helvetica Neue",
	             "Liberation Sans", Calibri, Arial, sans-serif;
	font-size: 100%;         /* Startvärde                                    */
}

h1 {
	font-family: "Merienda One", cursive;
}

h1::first-letter {
	color: #00AF64;
}
/*
================================================================================
Återanvändningsbara klasser att använda "lite här och där"
================================================================================
*/

.dborder {
	border: 1px solid #ccc;
	padding: 5px;
}

article {
	padding-bottom: 1em; /* sista p elementet ska ha 1 em luft i botten       */
	margin-bottom: 2em; 
	border-bottom: 3px double #00AF64;
}

article:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

article p {
	margin-left: 140px;
	hyphens: auto;
}

figure {
	float: left; /* Bilden till vänster om texten                             */
	margin: 0;   /* Nollställ webbläsarens inbyggda stil                      */
}

figure img {
	width: 128px;
	height: 128px;
}

figcaption {
	font: italic bolder 110% sans-serif;
	font-family: inherit; /* Restore after shorthand */
	text-align: center;
	text-transform: uppercase;
	color: #666;
}
/*
================================================================================
Regler för sidhuvudet
================================================================================
*/
header {
    text-align: center;
}
/*
================================================================================
Regler för sidfoten
================================================================================
*/
footer {
	margin-top: 3em;
	text-align: center;
	color: #999;
}

/*
================================================================================
Huvudsajt - navigering
================================================================================
*/

/* Alla regler för .menu med relaterade element */
/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */
.menu > li,
.menu > h2 {
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5; /* Mycket ljusgrå                              */
	text-align: center;
	/* Nya rader i befintlig regel                                            */
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;
	font-family: "Merienda One", cursive;	
}

.menu a:link,
.menu a:visited {
	text-decoration: none;
	color: #000;
}

.menu a:focus,
.menu a:hover {
	text-decoration: underline;
	color: #A62F00;
}

.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}

.menu {
	margin: 1em 0;
	padding: 0;
}

.startpage > section > h2, 
.menu li {
	margin: 0 0 1rem;
	list-style: none;
}

/*
================================================================================
Regler för startsidan
================================================================================
*/

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8                    */
/* Startsidan ska använda flex för sin layout                                 */
.startpage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* Vi ser till att <header> och <footer> alltid fyller sidans bredd           */
.startpage header,
.startpage footer {
	flex: 0 0 100%;
}
/* Därefter låter vi våra fyra <section> lägga sig på rad efter varandra      */
.startpage section {
	flex: 0 0 22%;
}

.startpage h1 {
	font-size: 500%; /* Massiv rubrik på startsidan                           */
}

.startpage .logo { /* Måste felanmäla till it-pastorn .Logo går icke */
		width: 235px;
		height: 198px;
}

.tagline {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64;
    margin: 1em 0;
}

.hwrap {
	display: flex;           /* Gör divven till en flex container             */
	flex-wrap: wrap;         /* Radbryt om det behövs                         */
	align-items: center;     /* Lägg elementen centrerat vertikalt            */
	justify-content: center; /* Och intill varandra centrerat                 */
}
/*
================================================================================
Andra regler för undersidor
================================================================================
*/

.subpage .logo { /* Måste felmeddela IT-pastorn,  han skrev .Logo och det gack icke */
	width: 146px;
	height: 123px;
}

.subpage h1 {
	font-size: 2.6rem;
}

h1 > span {
	color: #a62f00;
}

/* Logotype ska vara längs till vänster och rubrik längst till höger          */
.subpage .hwrap {
	justify-content: space-between;
}

/* Undersidans navigeringsfält                                                */
.subpage .hwrap > a,
nav {
	flex: 0 1 20%;
	min-width: 146px;
	margin-right: 10px;
/*	outline: 1px solid; Temporär för att se layouten när vi kodar             */
}

.subpage .hwrap > h1,
div[role=main] {
	flex: 1 1 300px;
}

/* Inloggningsformulärets CSS-kod  Uppgift 13A                                */
label.login {
  display: block;
  text-align: right;
  padding-right: 10px;
  width: 120px;
  font-size: 90%;
  color: red;
/*  margin-bottom: 0.5em; */
}

input[type="submit"].textlogin {
  margin-left: 134px;
}

input[type=text].textlogin,
input[type=password].textlogin {
    width: 25ch;
    background-color: #ddd;
}
/*
================================================================================
Regler för tabeller
================================================================================
*/

table {
  border-spacing: 0;
  border: 1px solid #d3d3d3;
  width: 96%;
  margin: 1em auto 2em;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

thead {
  font-size: 150%;
  text-shadow: #fff 1px 1px 1px;
}

th, td {
  padding: 1.1rem 1.8rem 1.1rem;
}

th {
    padding-top: 1.4rem;
    background: #ddd;
    text-align: left;
}

td {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  /* Inte runtom, eftersom vi inte vill ha dubbel bredd */
}

th:not(:last-child) {
    border-right: 1px solid #f2f2f2;
}

tr:target {
    background-color: #61d7a4;
}

tr:hover {
    background-color: #ff9b73;
}

tr {
    transition: background-color 1s;
}

td:nth-child(1) {
    /* Första kolumnen */
    width: 50px;
}

td:nth-child(2) {
    /* Andra kolumnen */
    width: 50px;
}

/*
================================================================================
Regler för bildspel
================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
================================================================================
Regler för formulär (Kontakt sidan)
================================================================================
*/

fieldset {
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
}

legend {
    font-size: larger;
}

form p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    flex: 0 1 10ch;
    text-align: right;
    padding-right: 1ch;
}

.reqfield {
    flex: 0 0 2ch; /* Minskad */
    order: 1;
    text-align: center;
    padding-right: 0;
}

input[type=text],
input[type=email],
textarea {
    flex: 1 1 25ch;
    max-width: 300px;
}

textarea {
    height: 5em;
    resize: vertical;
}

input[type=submit] {
    display: block;
    margin: auto;
}
/*
================================================================================
Regler för bloggsidan, show and edit
================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
================================================================================
Regler för adaptiv design
================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 30px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

